.mzcw-warn{color:red;font-weight:normal;font-style:italic;background-color:white;border:2px solid #110baa;border-radius:4px;}
.mzcw-desc{word-wrap:normal;max-width:550px;}
.mzcw-desc-big{word-wrap:normal;max-width:550px;font-size:1.2em;}
.mzcw-donate{text-align:center;font-size:1.4em;max-width:550px;}
.mzcw-credits{font-size:0.8em;text-align:right;max-width:550px;}
.mzcw-col_grid_rows{border-top:1px solid grey;}
.mzcw-grid_hdr_cnt{text-align:center;}
listcell[enabled="false"]{list-style-image:url("chrome://messenger/skin/icons/notchecked.gif");}
listcell[enabled="true"]{list-style-image:url("chrome://messenger/skin/icons/check.gif");}
.release-notes-text{font-family:"courier new";}
.cw_col_icon label{display:none;}
.cw_col_icon image{max-height:16px;}