/* Customize the label (the container) */

.radio-container-rlabel {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.radio-container-center {
	display: block;
	position: relative;
  left: calc(50% - 10px);
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

  
  /* Hide the browser's default checkbox */
  .radio-container-rlabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    }
  

  /* Hide the browser's default checkbox */
  .radio-container-center input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    }
  
/* Create a custom radio button */
.rcheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
  background-color: #ffffff;
  border: 1px solid #8C99AB;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container-rlabel:hover input ~ .rcheckmark {
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.radio-container-center:hover input ~ .rcheckmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container-rlabel input:checked ~ .rcheckmark {
  /* background-color: #2196F3; */
  background-color: #ffffff;
}

/* When the radio button is checked, add a blue background */
.radio-container-center input:checked ~ .rcheckmark {
  /* background-color: #2196F3; */
  background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.rcheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container-rlabel input:checked ~ .rcheckmark:after {
  display: block;
}


/* Show the indicator (dot/circle) when checked */
.radio-container-center input:checked ~ .rcheckmark:after {
  display: block;
}


/* Style the indicator (dot/circle) */
.radio-container-rlabel .rcheckmark:after {
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2196F3;
}


/* Style the indicator (dot/circle) */
.radio-container-center .rcheckmark:after {
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2196F3;
}
