html {
	width: 100%;
	height: 100%;
  }
  
  body {
	background: #efefef;
	color: #333;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
	height: 100%;
  }
  
  body h1 {
	text-align: center;
	color: #428BFF;
	font-weight: 300;
	padding: 40px 0 20px 0;
	margin: 0;
	margin-top:110px;
  }
  
  .tabs section .section-header {
	  padding: 0px 15px 10px 0px;
	margin: 0;
	  font-size: 18px;
	  /* background-color: cornsilk; */
  }

  .tabs {
	/* left: 50%; */
	/* -webkit-transform: translateX(-50%); */
	/* transform: translateX(-50%); */
	/* position: relative; */
	/* background: yellow; */
	padding: 0px 15px 5px 15px;
	/* padding-bottom: 80px; */
	/* width: 70%; */
	height: 100%;
	/* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
	/* border-radius: 5px; */
	/* min-width: 240px; */
  }
  
  .tabs input[name="tab-control"] { display: none; }
  
  .tabs .content section h2, .tabs ul li label {
	font-weight: 400;
	font-size: 18px;
	color: #428BFF;
  }
  
  .tabs ul {
	list-style-type: none;
	padding-left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-bottom: 5px;
	/* -webkit-box-pack: justify; */
	/* -webkit-box-pack: start; */

	/* -webkit-justify-content: space-between; */
	/* -ms-flex-pack: justify; */
	/* justify-content: space-between; */
	justify-content: start;
	/* -webkit-box-align: end; */
	-webkit-box-align: start;
	/* -webkit-align-items: flex-end; */
	/* -ms-flex-align: end; */
	/* align-items: flex-start; */
	/* -webkit-flex-wrap: wrap; */
	/* -ms-flex-wrap: wrap; */
	flex-wrap: wrap;
	border-top: 1px solid #929daf;
	/* padding-top: 6px; */
	border-bottom: 1px solid #929daf;
	/* padding-bottom: 8px; */
	/* background-color: antiquewhite; */
  }
  
  .tabs ul li {
	box-sizing: border-box;
	/* -webkit-box-flex: 1; */
	/* -webkit-flex: 1; */
	/* -ms-flex: 1; */
	/* flex: 1; */
	/* width: 25%; */
	padding: 0px 10px;
	padding-top: 6px;
	/* text-align: center; */
	/* background-color: aquamarine; */
  }

  .tabs .spacertab  {
	  flex: 1;
  }

  .tabs .info  {
	text-align: end;
}

  .tabs ul li label {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: #929daf;
	/* padding: 5px auto; */
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* background-color: turquoise; */
  }
  
  .tabs ul li label br { display: none; }
  
  .tabs ul li label svg {
	fill: #929daf;
	height: 1.2em;
	vertical-align: bottom;
	margin-right: 0.2em;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
  }
  
  .tab-img-png {
	height: 22px;
	width: 25px; 
	vertical-align: bottom;
	display: none;
	/* background-color: thistle; */
}
.dt-wrapper {
	/* position: absolute; */
	position: relative;
	overflow: hidden;
	height: 10px;
	width: 100%;
	text-align: center;
	/* -webkit-transition: all 1s linear; */
	/* transition: transform 2s; */
	/* background-color: wheat; */
	/* padding-left: 16Sincepx; */
	/* padding-right: 16px; */
}

.dt {
	/* position: relative; */
	/* left: 20px; */
	/* margin: auto; */
	/* display: inline-block; */
	/* text-align: center; */
	height: 10px;
	width: 100%;
	margin-left: -100%;

	/* background-color: #428BFF ; */
	/* transition: transform 2s; */
	/* background-color: alicposition: absolute;eblue; */
	position: absolute;
	bottom: 0;
}

.dt2 {
	position: absolute;
	bottom: 0;

	/* display: inline-block; */
	/* text-align: center; */
	height: 4px;
	width: 100%;
	border-radius: 3px;
	/* margin: auto; */
	/* margin-left: -100%; */
	background-color: #428BFF;	/* transition: transform 2s; */
}

/* .tabs  input[name="tab-control"]:nth-of-type(n+1):hover ~ ul > li:nth-of-type(n+1)
 {
  }
 */
  .tabs  input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-of-type(1) > div.dt-wrapper > div.dt
 {
	transition: transform 1.5s;position: absolute;
	/* -webkit-transform: translate(300px, 0); */
	transform: translate(100%, 0);
	/* margin: auto; */
	/* background-color:  turquoise; */
  }

  .tabs  input[name="tab-control"]:nth-of-type(1):not(:checked) ~ ul > li:nth-of-type(1) > div.dt-wrapper > div.dt
 {
	transition: transform 1.5s;
	/* -webkit-transform: translate(300px, 0); */
	transform: translate(-100%, 0);
	/* margin: auto; */
	/* background-color:  turquoise; */
  }

  .tabs  input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-of-type(2) > div.dt-wrapper > div.dt
  {
	 transition: transform 1.5s;
	 /* -webkit-transform: translate(300px, 0); */
	 transform: translate(100%, 0);
	 /* margin: auto; */
	 /* background-color:  turquoise; */
   }
 
   .tabs  input[name="tab-control"]:nth-of-type(2):not(:checked) ~ ul > li:nth-of-type(2) > div.dt-wrapper > div.dt
   {
	  transition: transform 1.5s;
	  /* -webkit-transform: translate(300px, 0); */
	  transform: translate(-100%, 0);
	  /* margin: auto; */
	  /* background-color:  turquoise; */
	}
  

	.tabs  input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-of-type(3) > div.dt-wrapper > div.dt,
	.tabs  input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-of-type(4) > div.dt-wrapper > div.dt,
	.tabs  input[name="tab-control"]:nth-of-type(6):checked ~ ul > li:nth-of-type(6) > div.dt-wrapper > div.dt
	{
	   transition: transform 1.5s;
	   transform: translate(100%, 0);
	 }
   
	 .tabs  input[name="tab-control"]:nth-of-type(3):not(:checked) ~ ul > li:nth-of-type(3) > div.dt-wrapper > div.dt,
	 .tabs  input[name="tab-control"]:nth-of-type(4):not(:checked) ~ ul > li:nth-of-type(4) > div.dt-wrapper > div.dt,
	 .tabs  input[name="tab-control"]:nth-of-type(6):not(:checked) ~ ul > li:nth-of-type(6) > div.dt-wrapper > div.dt
	 {
		transition: transform 1.5s;
		transform: translate(-100%, 0);
	  }
	
  /* 
.tabs  input[name="tab-control"]:nth-of-type(2):checked ~ .dt-wrapper
 {
	-webkit-transform: translate(300px, 0);
	transform: translate(300px, 0);
	background-color:  turquoise;
  }

 */
  /* png tab image  */
/* .tab-img-png-checked */

.tabs   input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label > img.tab-img-png-checked,
.tabs   input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label > img.tab-img-png-checked,
.tabs   input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label > img.tab-img-png-checked,
.tabs   input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label > img.tab-img-png-checked
{
	display: inline-block !important;
}


.tabs input[name="tab-control"]:nth-of-type(1):not(:checked) ~ ul > li:nth-child(1) > label > img.tab-img-png-unchecked,
.tabs input[name="tab-control"]:nth-of-type(2):not(:checked) ~ ul > li:nth-child(2) > label > img.tab-img-png-unchecked,
.tabs input[name="tab-control"]:nth-of-type(3):not(:checked) ~ ul > li:nth-child(3) > label > img.tab-img-png-unchecked,
.tabs input[name="tab-control"]:nth-of-type(4):not(:checked) ~ ul > li:nth-child(4) > label > img.tab-img-png-unchecked
{
	cursor: default;
	display: inline-block !important;
}


  .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
	outline: 0;
	color: #bec5cf;
  }
  
  .tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg { fill: #bec5cf; }
  
  .tabs .slider {
	position: relative;
	width: 20%;
	-webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
	transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  }
  
  .tabs .slider .indicator {
	position: relative;
	width: 100px;
	max-width: 100%;
	margin: 0 auto;
	height: 4px;
	background: #428BFF;
	border-radius: 1px;
  }
  
  .tabs .content { margin-top: 30px; }
  
  .tabs .content section {
	display: none;
	-webkit-animation-name: content;
	animation-name: content;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	line-height: 1.4;
	padding-left: 15px;
	/* background-color: wheat; */
  }
  
  .section-content div {
	padding-left: 25px;
	padding-top: 15px;
	border: none;
	/* background-color: aliceblue; */
  }

  .tabs .content section h2 {
	color: #428BFF;
	display: none;
  }
  
  .tabs .content section h2::after {
	content: "";
	position: relative;
	display: block;
	width: 30px;
	height: 3px;
	background: #428BFF;
	margin-top: 5px;
	left: 1px;
  }
  
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
	cursor: default;
	color: #428BFF;
  }

  

  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg { fill: #428BFF; }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg { fill: #428BFF; }
  .tabs input[name="tab-control"]:nth-of-type(6):checked ~ ul > li:nth-child(6) > label svg { fill: #428BFF; }
  
  @media (max-width: 600px) {
  
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label { background: rgba(0, 0, 0, 0.08); }
  }
  
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
  }
  
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) { display: block; }
  
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
	cursor: default;
	color: #428BFF;
  }
  
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg { fill: #428BFF; }
  @media (max-width: 600px) {
  
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label { background: rgba(0, 0, 0, 0.08); }
  }
  
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
  }
  
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) { display: block; }
  
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
	cursor: default;
	color: #428BFF;
  }
  
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg { fill: #428BFF; }
  @media (max-width: 600px) {
  
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label { background: rgba(0, 0, 0, 0.08); }
  }
  
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
  }
  
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) { display: block; }
  
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
	cursor: default;
	color: #428BFF;
  }
  
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg { fill: #428BFF; }
  @media (max-width: 600px) {
  
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label { background: rgba(0, 0, 0, 0.08); }
  }
  
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
	-webkit-transform: translateX(300%);
	transform: translateX(300%);
  }
  
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
	cursor: default;
	color: #428BFF;
  }
 
  .tabs input[name="tab-control"]:nth-of-type(6):checked ~ ul > li:nth-child(6) > label {
	cursor: default;
	color: #428BFF;
  }
  
 
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) { display: block; }
  
 
 
  @-webkit-keyframes 
  content {  from {
   opacity: 0;
   -webkit-transform: translateY(5%);
   transform: translateY(5%);
  }
  
  to {
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
  }
  }
  @keyframes 
  content {  from {
   opacity: 0;
   -webkit-transform: translateY(5%);
   transform: translateY(5%);
  }
  
  to {
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
  }
  }
  @media (max-width: 1000px) {
  
  .tabs ul li label { white-space: initial; }
  
  .tabs ul li label br { display: initial; }
  
  .tabs ul li label svg { height: 1.5em; }
  }
  @media (max-width: 600px) {
  
  .tabs ul li label {
	padding: 5px;
	border-radius: 5px;
  }
  
  .tabs ul li label span { display: none; }
  
  .tabs .slider { display: none; }
  
  .tabs .content { margin-top: 20px; }
  
  .tabs .content section h2 { display: block; }
  }
  