#mzcw-button,#mail-toolbox > toolbar[brighttext] #mzcw-button.toolbarbutton-1{list-style-image:url("chrome://columnswizard/skin/mzcw-icon24.png");}
toolbar[iconsize="small"] #mzcw-button,#mail-toolbox > toolbar[brighttext][iconsize="small"] #mzcw-button.toolbarbutton-1{list-style-image:url("chrome://columnswizard/skin/mzcw-icon16.png") !important;}
